@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*, *:before, *:after {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

*, *:hover, *:focus, *:active {
  outline: none !important;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  height: -webkit-fill-available;
}

input, textarea {
  -webkit-user-select: text !important;
     -moz-user-select: text !important;
      -ms-user-select: text !important;
          user-select: text !important;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul, figure {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none !important;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

input,
input:hover,
input:focus,
input:active,
button,
button:hover,
button:focus,
button:active,
textarea,
textarea:hover,
textarea:focus,
textarea:active,
select,
select:hover,
select:focus,
select:active {
  outline: none !important;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.pt-input {
  width: 27.875rem;
  height: 3rem;
  border: 0.0625rem solid #E1E1E1;
  border-radius: 0.5rem;
}
@media screen and (max-width: 992px) {
  .pt-input {
    width: 15rem;
  }
}

.pt-button {
  cursor: pointer;
  text-align: center;
  background-color: #1890FF;
  box-shadow: 0px 0.125rem 0px rgba(0, 0, 0, 0.043);
  border-radius: 0.5rem;
  width: 100%;
  height: 3rem;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.375rem;
}
.pt-button.disable-btn {
  cursor: not-allowed;
  pointer-events: none;
  background-color: #d6d4d4;
  border: none;
}

.auth-layout {
  height: 100vh;
  background-color: #E5E5E5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.auth-layout .content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-layout .pt-header {
  background-color: white;
  padding: 0 2.8125rem 0 2.8125rem;
  height: 5.3125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-layout .pt-header .user-info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-layout .pt-header .user-info figure {
  margin-right: 0.75rem;
}
.main-layout .pt-header .user-info span {
  display: block;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-right: 0.75rem;
}
.main-layout .pt-header .user-info .logout {
  background-color: #1890FF;
  border-radius: 0.5rem;
  padding: 0.375rem 0.75rem;
  color: #FFF;
  cursor: pointer;
}
.main-layout .pt-header .user-info .logout span {
  margin-right: 0;
}
.main-layout .pt-content {
  min-height: calc(100vh - 5.3125rem);
  padding: 5.125rem 10rem 7.5625rem 10rem;
}
@media screen and (max-width: 992px) {
  .main-layout .pt-header {
    padding: 0 1.25rem 0 1.25rem;
    height: 6.875rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .main-layout .pt-content {
    min-height: calc(100vh - 6.875rem);
    padding: 0.75rem 1.875rem 0.75rem 1.875rem;
  }
}

.login-card {
  background: white;
  box-shadow: 0px 0.3125rem 1.25rem 1.25rem rgba(0, 0, 0, 0.03);
  border-radius: 0.75rem;
  padding: 4rem 3.25rem 2.375rem 3.25rem;
  width: auto;
  height: auto;
}
.login-card label {
  display: block;
  margin-left: 0.75rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}
.login-card .login-form-item {
  display: flex;
}
.login-card .login-form-item:not(:first-child) {
  margin-bottom: 3.125rem;
}
.login-card .login-form-item:first-child {
  margin-bottom: 3.375rem;
}
.package-list {
  background: #FFFFFF;
  box-shadow: 0px 0.3125rem 1.25rem 1.25rem rgba(0, 0, 0, 0.03);
  border-radius: 0.75rem;
  padding: 3.25rem 2.125rem 1.375rem 2.125rem;
  display: flex;
  flex-direction: column;
}
.package-list .total-price {
  display: flex;
  align-items: center;
}
.package-list .total-price h3 {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.375rem;
}
.package-list .page-divider {
  margin: 5.1875rem 0 1.25rem 0;
}
.package-list .card-container {
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: #F2F2F2;
  display: flex;
  overflow: hidden;
}
.package-list .card-container.selected-card {
  border: 0.125rem solid #7AC500;
}
.package-list .card-container figure img {
  max-width: 192px;
  max-height: 139px;
  -o-object-fit: cover;
     object-fit: cover;
}
.package-list .card-container .card-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.25rem 1.125rem 0.4375rem 1.5625rem;
}
.package-list .card-container .card-info .card-divider {
  margin: 0 0 0.375rem 0;
}
.package-list .card-container .card-info .card-title, .package-list .card-container .card-info .card-detail, .package-list .card-container .card-info .card-tag {
  display: flex;
  align-items: center;
  width: 100%;
}
.package-list .card-container .card-info .card-title {
  margin-bottom: 0.875rem;
  justify-content: space-between;
}
.package-list .card-container .card-info .card-title h3 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.375rem;
}
.package-list .card-container .card-info .card-detail {
  margin-bottom: 1.75rem;
}
.package-list .card-container .card-info .card-detail h5 {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.375rem;
}
.package-list .card-container .card-info .card-detail h5:not(:last-child) {
  margin-right: 1.75rem;
}
.package-list .card-container .card-info .card-tag h5 {
  padding: 0.25rem 0.875rem 0.25rem 0.875rem;
  background: #C4C4C4;
  border-radius: 0.5rem;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.75rem;
}
.package-list .card-container .card-info .card-tag h5:not(:last-child) {
  margin-right: 0.5rem;
}
@media screen and (max-width: 992px) {
  .package-list {
    padding: 1.25rem 0.625rem 1.25rem 0.625rem;
    flex-flow: column-reverse;
  }
  .package-list .total-price h3 {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.375rem;
    margin-bottom: 0.625rem;
  }
  .package-list .page-divider {
    margin: 1.4375rem 0 1.25rem 0;
  }
  .package-list .card-container {
    height: auto;
    flex-direction: column;
    overflow: hidden;
  }
  .package-list .card-container figure {
    display: none;
  }
  .package-list .card-container figure img {
    width: 100%;
    max-height: 139px;
  }
  .package-list .card-container .card-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.25rem 1.125rem 0.4375rem 1.5625rem;
  }
  .package-list .card-container .card-info .card-divider {
    margin: 0 0 0.375rem 0 !important;
  }
  .package-list .card-container .card-info .card-title, .package-list .card-container .card-info .card-detail, .package-list .card-container .card-info .card-tag {
    display: flex;
    align-items: center;
  }
  .package-list .card-container .card-info .card-title {
    margin-bottom: 0.5rem;
  }
  .package-list .card-container .card-info .card-detail {
    margin-bottom: 0.875rem;
  }
  .package-list .card-container .card-info .card-detail:not(:last-child) {
    margin-right: 1.125rem;
  }
  .package-list .card-container .card-info .card-tag:not(:last-child) {
    margin-right: 0.125rem;
  }
}

.payment .payment-card {
  padding: 1.6875rem 1.9375rem;
  background: #FFFFFF;
  border-radius: 0.75rem;
}
.payment .payment-card .payment-completed h4 {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.375rem;
  margin-bottom: 1.25rem;
}
.payment .payment-card .payment-completed .product-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F2F2F2;
  padding: 0.625rem 0.75rem;
  border-radius: 0.5rem;
  margin-bottom: 0.625rem;
}
.payment .payment-card .payment-completed .product-info h5 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375rem;
}
.payment .payment-card .payment-card-title {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.375rem;
  margin-bottom: 0.8125rem;
}
.payment .payment-card .payment-card-container {
  padding: 1.375rem 1.125rem;
  border: 0.0625rem solid #E1E1E1;
  border-radius: 0.5rem;
}
.payment .payment-card .payment-card-container:not(:last-child) {
  margin-bottom: 2.9375rem;
}
.payment .payment-card .payment-card-container p {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.375rem;
  margin-bottom: 1.25rem;
}
.payment .payment-card .payment-card-container.credentials .cr-input-group {
  display: flex;
  flex-direction: column;
}
.payment .payment-card .payment-card-container.credentials .pt-input-credentials {
  width: auto;
  height: 3rem;
  border: 0.0625rem solid #E1E1E1;
  border-radius: 0.5rem;
  padding-left: 0.75rem;
}
.payment .payment-card .payment-card-container.credentials .pt-input-credentials.cvv {
  -webkit-text-security: disc;
  text-security: disc;
}
.payment .payment-card .payment-card-container.credentials label {
  margin-left: 0.75rem;
  margin-bottom: 0.75rem;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
}
@media screen and (max-width: 992px) {
  .payment {
    flex-flow: column-reverse;
  }
  .payment .payment-card .payment-card-container.credentials label {
    margin-left: 0rem;
  }
}

.payment-status {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.payment-status .info {
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px 0.3125rem 1.25rem 1.25rem rgba(0, 0, 0, 0.03);
  border-radius: 0.75rem;
  padding: 4.1875rem 5.0625rem;
  display: flex;
  flex-direction: column;
}
.payment-status .info figure, .payment-status .info h1 {
  margin-bottom: 1.9375rem;
}
@media screen and (max-width: 992px) {
  .payment-status .info {
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 0.3125rem 1.25rem 1.25rem rgba(0, 0, 0, 0.03);
    border-radius: 0.75rem;
    padding: 1.25rem 2.5rem;
    display: flex;
    flex-direction: column;
  }
  .payment-status .info figure, .payment-status .info h1 {
    margin-bottom: 0.75rem;
  }
}/*# sourceMappingURL=paramtech.css.map */