.payment{
    .payment-card{
        padding: toRem(27) toRem(31);
        background: #FFFFFF;
        border-radius: toRem(12);
        .payment-completed{
            h4{
               @include fontStyleGenerator(500, 16, 22); 
               margin-bottom: toRem(20);
            }
            .product-info{
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: getColor('mini-card-bg');
                padding: toRem(10) toRem(12);
                border-radius: toRem(8);
                margin-bottom: toRem(10);
                h5{
                    @include fontStyleGenerator(400, 16, 22);
                }
            }
        }
        .payment-card-title{
            @include fontStyleGenerator(500, 16, 22); 
            margin-bottom: toRem(13);
        }
        .payment-card-container{
            padding: toRem(22) toRem(18);
            border: toRem(1) solid getColor('border-color');
            border-radius: toRem(8);
            &:not(:last-child){
                margin-bottom: toRem(47);
            }
            p{
                @include fontStyleGenerator(500, 14, 22); 
                margin-bottom: toRem(20);

            }
            &.agreement{
            }
            &.credentials{
                .cr-input-group{
                    display: flex;
                    flex-direction: column;
                }
                .pt-input-credentials{
                    width: auto;
                    height: toRem(48);
                    border: toRem(1) solid getColor('border-color');
                    border-radius: toRem(8);
                    padding-left: toRem(12);
                    &.cvv{
                        -webkit-text-security: disc;
                        text-security: disc;
                    }
                }
                label{
                    margin-left: toRem(12);
                    margin-bottom: toRem(12);
                    @include fontStyleGenerator(400, 14, 24)
                }
            }
        }

    }
    @media screen and (max-width:map-get($gridBreakpoints, lg)){
        flex-flow: column-reverse;
        .payment-card{
            .payment-card-container{                
                &.credentials{
                    label{
                        margin-left: toRem(0);
                    }
                }
            }
        }
    }
}