.pt-input{
    width: toRem(446);
    height: toRem(48);
    border: toRem(1) solid getColor('border-color');
    border-radius: toRem(8);
    @media screen and (max-width:map-get($gridBreakpoints, lg)){
        width: toRem(240);
    }
}

.pt-button{
    cursor: pointer;
    text-align: center;
    background-color: getColor('btn-bg');
    box-shadow: 0px toRem(2) 0px rgba(0, 0, 0, 0.043);
    border-radius: toRem(8);
    width: 100%;
    height: toRem(48);
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    @include fontStyleGenerator(400, 14, 22);
    &.disable-btn{
        cursor: not-allowed;
        pointer-events: none;
        background-color: getColor('disabled-btn-bg');
        border: none;
    }
}